*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    flex-wrap: wrap;
  }
  
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  nav ul li{
    margin: 0 5px;
  }
  
  nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  nav ul li a.active,
  nav ul li a:hover{
    color: rgb(255, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  nav .menu-btn img{
    width: 30px;
    cursor: pointer;
    display: none;
  }
  
  input[type="checkbox"]{
    display: none;
  }
  
  /*Pjesa responzive*/
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn img{
      display: block;
    }
  
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #0082e6;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }
  
  /*Shtimi i butonit login te navbar*/
  .login_btn {
    color: #fff;
    background: rgb(255, 0, 0);
    transition: 0.3s ease;
  }
  /*Ketu fillon pjesa e css per section team */
.wrapper{
    /*max-width: 1350px;*/
    /*margin-top: 10%;*/
    padding-top: 20px;
    background-color: #f3e70a;
    background-position: center;
}

.wrapper h1{
    max-width: 1350px;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    justify-content: center;
}

.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px; 
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}

.team .team_member h3{
    color: #0082e6;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0 ;
}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background:#fff;
}
.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

@media screen and (max-width: 1350){
    .wrapper h1{
        max-width: 1350px;
        font-size: 52px;
        margin-bottom: 60px;
        text-align: center;
    }
}

.historia{
    background-color: #0082e6;
    text-align: center;
}

.historia h1{
    color: #fff;
    padding-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.historia p{
    line-height: 30px;
    text-shadow: #8e8b8b;
    color: #fff;
    padding-bottom: 50px;
}

.historia img{
    width: 100px;
}
/*CSS per pjesen e analizave*/
.icons-container img{
    width: 50px;
}
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}
.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem ;
    padding: 2rem 0;
}

.icons-container .icons h3{
    font-size: 20px;
    padding-bottom: .5rem;
}
.icons-container .icons p{
    font-size:20px
}