
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
  flex-wrap: wrap;
  position: fixed;
}

nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 8px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
  color: rgb(255, 0, 0);
  background: rgb(255, 255, 255);
}

nav .menu-btn img{
  width: 30px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}

/*Pjesa responzive*/
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn img{
    display: block;
  }

  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #0082e6;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

/*Shtimi i butonit login te navbar*/
.login_btn {
  color: #fff;
  background: rgb(255, 0, 0);
  transition: 0.3s ease;
}


/*CSS per pjesen repartet*/

.repartet{
    background-image:  linear-gradient(rgba(9, 5, 46, 0.7), rgba(9, 5, 46, 0.7)), url("../Repartet/hospital-interior.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
 }
 
 .repartet h1{
    /* transform: translateY(50%);*/
     padding-top: 8%;
     font-size: 10vw;
     text-align: center;
     color: #fff;
 }
 


 /*CSS per pjesen testimonial*/
.containerT{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.testimonial{
    /*position: relative;*/
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
}

.testimonial .image{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide p{
    text-align: center;
    padding: 0 100px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.slide .details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name{
    font-size: 30px;
    font-weight: 600;
    color: #333;
}



.container2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fde3ee;
}


.container3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #defdd5;
}


.slideshow{
  padding-bottom:10px;
}
.slider{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  overflow: hidden;
}
.buttons{
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons label{
  width: 100px;
  height: 20px;
  margin-left: 5px;
  background-color: rgb(56, 218, 230);
  cursor: pointer;
}
.images{
  width: 400%; /* Per shkak qe kemi 4 foto width duhet te jete 400%  */
  height: 25%;
}
.images img{
  width: 25%;
  height: 25%;
  transition: 1s;
}
.hide{
  display: none;
}


@media(max-width: 800px){
  .repartet{
      width: auto;
      margin: auto;
  }
  .repartet h1{
    /*font-size: 60px;*/
    line-height: 300px;
  }

  .container{
      width: 50%;
      margin:auto;
  }
  .slideshow{
    width: auto;
    margin:auto;
  }
  .buttons{
    flex-wrap: wrap;
    width: fit-content;
  }
}



  
/*CSS per pjesen e footer*/

footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #4070f4;
}

footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,a {
  color: #fff;
}

footer .content .box{
  width: 33%; 
  transition: all 0.4s ease ;
}

footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;

}

footer .content p{
  text-align: justify;
}

footer .content .lower .topic{
  margin: 24px 0 5px 0;
}

footer .content .lower img{
  padding-right: 16px;
  width: 30px;
}

footer .content .middle{
  padding-left: 80px;
}


footer .content .middle a{
  line-height: 32px;
}

footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius:5px ;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222;
}

footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06 ;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover{
  background: none;
  color: #eb2f06
}

footer .content .media-icons img{
  width: 20px;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 10px ;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover{
  border-color: #eb2f06 ;
}

footer .bottom{
  width:100% ;
  text-align: center;
  color: white;
  padding: 0 40px 5 px 0 ;
}

footer .bottom a{
  color: white;
}
footer a{
  transition: all 0.3s ease;
}

footer a:hover{
  color: #eb2f06;
}

@media (max-width: 1100px){
  footer .content .middle{
      padding-left: 50px;
  }
}

@media (max-width: 950px){
  footer .content .box{
      width: 50%; 
  }
  .content .right{
      margin-top: 40px;
  }
}

@media (max-width: 560px){
  /*footer{
      position: relative;
  }*/
  footer .content .box{
      width: 100%; 
      margin-top: 30px ;
  }
  footer .content .middle{
      padding-left: 0;
  }

}
